---
title: RVC | Home
---
<div class = "slider">
	<ul class = "slides">
		<li>
			<%= image_tag "group_1.png" %>
			<div class = "caption center-align">
				<h1>River Valley Colonials</h1>
			</div>
		</li>
		<li>
			<%= image_tag "group_2.png" %>
			<div class = "caption">
				<h2 class = "left-align">Check out our facebook page!</h2>
				<a class = "btn right-align waves-effect waves-light" target = "_blank" href = "https://www.facebook.com/River-Valley-Colonials-134729729936332/">Facebook</a>
			</div>
		</li>
		<li>
			<%= image_tag "group_3.png" %>
			<div class = "caption">
				<div class = "center-align">
					<h2>Contact Us!</h2>
					<a href = "#" class = "btn waves-effect waves-light">Contact</a>
				</div>
			</div>
		</li>
		<li>
			<%= image_tag "group_4.png" %>
			<div class = "caption">
				<h2>Read more about us!</h2>
			</div>
		</li>
	</ul>	
</div>

<div id = "scroll-about"></div>
<a name = "about"></a>

<div class = "container">
	<h2 class = "center-align">About the river valley colonials</h2>
	<div class = "divider"></div>
	<p><%= lorem.sentences 8 %></p>
	<%= image_tag "small_image_1.jpg", :class => "materialboxed" %>
	<br>
</div>

<div id = "scroll-bhistory"></div>
<a name = "history"></a>


<div class = "parallax-container">
	<div class = "parallax"><%= image_tag "parallax_image_1.jpg" %></div>
	<div style = "padding-bottom: 10%;"></div>
	<div class = "card-panel">
		<h1 class = "align-center">Brief history of RVC</h1>
		<div class = "divider"></div>
		<span><%= lorem.sentences 5 %></span>
	</div>
</div>

<div id = "scroll-events"></div>
<a name = "events"></a>

<div class = "container">
	<h1 class = "center-align">Events</h1>
	<ul class = "center-align">
		<li><%= lorem.words 3%> - <%= lorem.date %></li>
		<li><%= lorem.words 3%> - <%= lorem.date %></li>
		<li><%= lorem.words 3%> - <%= lorem.date %></li>
		<li><%= lorem.words 3%> - <%= lorem.date %></li>
		<li><%= lorem.words 3%> - <%= lorem.date %></li>
		<li><%= lorem.words 3%> - <%= lorem.date %></li>
		<li><%= lorem.words 3%> - <%= lorem.date %></li>
		<li><%= lorem.words 3%> - <%= lorem.date %></li>
		<li><%= lorem.words 3%> - <%= lorem.date %></li>
		<li><%= lorem.words 3%> - <%= lorem.date %></li>
		<li><%= lorem.words 3%> - <%= lorem.date %></li>
	</ul>
</div>

<script>
	$('nav.nav-extended').append('<div class = "nav-content white"><ul class = "tabs tabs-transparent"><li><a href = "#" class = "to-about">About</a></li><li><a href = "#" class = "to-history">History</a></li><li><a href = "#" class = "to-events">Events</a></li></ul></div>');
</script>


