---
title: RVC | Home
---

<%= javascript_include_tag "index.js" %>
<div class = "slider">
	<ul class = "slides">
		<li>
			<%= image_tag "group_1.png" %>
			<div class = "caption center-align">
				<h1>River Valley Colonials</h1>
			</div>
		</li>
		<li>
			<%= image_tag "group_2.png" %>
			<div class = "caption">
				<h2 class = "left-align">Check out our facebook page!</h2>
				<a class = "btn right-align waves-effect waves-light" target = "_blank" href = "https://www.facebook.com/River-Valley-Colonials-134729729936332/">Facebook</a>
			</div>
		</li>
		<li>
			<%= image_tag "group_3.png" %>
			<div class = "caption">
				<div class = "center-align">
					<h2>Contact Us!</h2>
					<a href = "#" class = "btn waves-effect waves-light">Contact</a>
				</div>
			</div>
		</li>
		<li>
			<%= image_tag "group_4.png" %>
			<div class = "caption">
				<h2>Read more about us!</h2>
			</div>
		</li>
	</ul>	
</div>

<div id = "scroll-about"></div>
<a name = "about"></a>

<div class = "parallax-container">
	<div class = "parallax"><%= image_tag "parallax_image_2.jpg" %></div>
	<h2 class = "center-align white-text">About the river valley colonials</h2>
</div>

<div class = "container">
	<p><%= lorem.sentences 8 %></p>
	<%= image_tag "small_image_1.jpg", :class => "materialboxed" %>
	<br>
</div>

<div id = "scroll-bhistory"></div>
<a name = "history"></a>


<div class = "parallax-container">
	<div class = "parallax"><%= image_tag "parallax_image_1.jpg" %></div>
	<h2 class = "center-align">History</h1>
</div>

<div class = "container">
	<div class = "row" style = "padding-top: 3%;">
		<div class = "col s6">
			<%= image_tag "small_image_3.jpg", :class => "materialboxed" %>
		</div>
		<div class = "col s6">
			<span class = "right-align"><%= lorem.sentences 8 %></span>
		</div>
	</div>
</div>

<div id = "scroll-events"></div>
<a name = "events"></a>

<div class = "parallax-container">
	<div class = "parallax"><%= image_tag "parallax_image_4.jpg" %></div>
	<h2 class = "center-align white-text">Events</h1>
</div>

<div class = "container">
	<ul class = "center-align">
		<li><%= lorem.words 3%> - <%= lorem.date %></li>
		<li><%= lorem.words 3%> - <%= lorem.date %></li>
		<li><%= lorem.words 3%> - <%= lorem.date %></li>
		<li><%= lorem.words 3%> - <%= lorem.date %></li>
		<li><%= lorem.words 3%> - <%= lorem.date %></li>
		<li><%= lorem.words 3%> - <%= lorem.date %></li>
		<li><%= lorem.words 3%> - <%= lorem.date %></li>
		<li><%= lorem.words 3%> - <%= lorem.date %></li>
		<li><%= lorem.words 3%> - <%= lorem.date %></li>
		<li><%= lorem.words 3%> - <%= lorem.date %></li>
		<li><%= lorem.words 3%> - <%= lorem.date %></li>
	</ul>
</div>



